.mainContact {
    width: 92%;
    padding: 2.5%;
    margin: auto;
    clear: both;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
#form {
    padding-top: 15%;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

#designpic {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

@media only screen and (max-width: 900px) {
    .mainContact {
        grid-template-columns: auto;
    }

    #form {
        grid-column: 1 / span 1;
        grid-row: 1/ span 1;
    }

    #designpic {
        visibility: hidden;
    }
}