body {
    background-color: #181719;
    color: #FFFFFF;
}

h6 {
    border: 1px white solid;
    float: left;
    font-weight: 400;
    font-size: 14px;
    padding: 9px;
    margin-left: 5%;
}

nav > a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 32.62px -5% 32.62px 10%;
    padding: 10px 1px;
    float: right;

}

nav {
    
    margin: 12.62px auto;
    display: flex;
    flex-direction: row;
    float: right;
}

.main {
    clear: both;
    display: grid;
    grid-template-columns: auto 13% 54%;
    grid-template-rows: auto;
    width: 90%;
    margin: auto;
    
}

h2 {
    font-size: 48px;
}

#text {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 15%;
    font-size: 24px;
    padding: 27% 0;
}

#room1 {
    margin-top: 10%;
    width: 100%;
    
}

#readmore {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#byAliza {
    height: 180px;
    width: 410px;
    background-color: #181719;
    font-size: 24px;
    grid-column: 3 / span 1;
    grid-row: 1 / span;
    margin-top: -6%;
    margin-left: 18%; 
    position: absolute;
    padding: 2%;
    filter: drop-shadow(0px 5px 3px black)
}

#Aliza {
    width: 15%;
    border-radius: 100%;
    border: 5px #181719 solid;
    float: left;
    padding-right: 3px;
}

#Altext1 {
    font-size: 14px;
}

#Altext2 {
    font-size: 12px;
    color: #828282;
}

#hamburger {
    margin: 32.62px 5%;
    float: right;
    visibility: hidden;
}

#close {
    margin: 32.62px -5%;
    float: right;
    visibility: hidden;
}

.hidden {
    visibility: hidden !important;
}

.visible {
    visibility: visible !important;
}

.visibleNava {
    overflow: visible;
    height: auto;
    padding-bottom: 10px;
    
}

.menu-visible {
    padding-top: 25%;
    visibility: visible !important;
    width: 100%;
    height: 98vh;
    overflow: hidden;
    z-index: 1;
}

@media only screen and (max-width: 1600px) {
    #byAliza {
        margin-left: 15%;
    }
}

@media only screen and (max-width: 1500px) {
    #byAliza {
        margin-left: 13%;
    }
}

@media only screen and (max-width: 1400px) {
    #byAliza {
        margin-left: 11%;
        width: 400px;
    }
}
@media only screen and (max-width: 1300px) {
    #byAliza {
        margin-left: 10%;
        width: 400px;
    }
}


@media only screen and (max-width: 1200px) {
    #byAliza {
        margin-left: 9%;
        width: 375px;
    }
}

@media only screen and (max-width: 1100px) {
    #byAliza {
        margin-left: 7%;
        width: 350px;
    }
}

@media only screen and (max-width: 1000px) {
    #byAliza {
        margin-left: 5%;
        width: 300px;
    }
}

@media only screen and (max-width: 900px) {
    .main {
        grid-template-columns: auto;  
    }

    #text, #room1 {
        margin-top: 0%;
        padding: 2.5% 0%;
    }

    #byAliza {
        margin-left: 18%;
        width: 50%;
        min-width: 250px;
    }

    nav > a {
        padding: 0%;
    }

}

@media only screen and (max-width: 715px) {
    .menu-visible {
        padding-top: 12%;
        
    }

    nav {
        position: fixed;
      /*  position: sticky;
        position: -webkit-sticky; */
        background-color:#181719;
        top: 0;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        margin: 0%;
        overflow: hidden;
        visibility: hidden;
        padding-top: 0%;
        float: none;
    }

    nav > a {
      
       text-align: center;
       margin: 5% auto;
       overflow: hidden;
       height: 0px;
       float: none;
    }

    #hamburger {
        visibility: visible;
        
    }

    #close {
        margin: 0px -13.5%;
        position: sticky;
        position: -webkit-sticky;
        background-color:#181719;
        top: 0;
        z-index: 2;
        padding: 32.62px 0px;
    }


}

@media only screen and (max-width: 400px) {
    #byAliza {
        margin-left: 0%;
    }
}